.App {
  margin: 0 auto;
  max-width: 1280px;
  height: 100%;
  padding-top: 100px;
  display: flex;
  justify-items: left;
}
.app-content{
  max-width: 1280px;
  border: 1px solid black;
  width: 100%;
}

.nav-wrapper{
  width: 100px;
}

